<head>
    <link rel="stylesheet" type="text/css" href="public/common.css" />
    
</head>

<!DOCTYPE html>
<html>




<title>TATTLTELL - Learn & Tell</title>

 <header>

    <section>
        <div class="content">
          <h2>tattltell</h2>
          <h2>tattltell</h2>
        </div>
     </section>


   <div class="headerContainer2">
                <nav class="navigationMenu">
                    <ul>
                        <li><a href="index.ejs">Home</a></li>
                        <li><a href="about.ejs">About</a></li>
                        <li><a href="contact.ejs">Contact</a></li>
                        <li><a href="login.ejs">Login</a></li>
                    </ul>
                </nav>
    
            <br> 
            <br> 
         <div class="searchDescription">
                <div class=lookUp>Look up earnings in your area</div>
                    <div clase="phButton">
                        <input type="searchBar" placeholder="Employer, Position, Area">
    
                        <button>
                            <a href="searchdb.ejs">search</a>
                        </button>
                   </div>
        </div>
    </div>
 </header>



<body>

    <%- body -%>

</body>






<footer> 
    <div class="widget">
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
        <div id="coinmarketcap-widget-marquee" coins="1,1027,8757,5994,3408,74,4030,5805" currency="USD" theme="dark" transparent="false" show-symbol-logo="true"></div>
    </div>
        <h4>
            Join the team. 
        </h4>
</footer>
</html>

