<body>
    <div class= "container1">
        <div class= "smartdata"><h2>smart data</h2></div>
        <div class= "mainParagraph"><p>Discover company reviews, find wages, and compare cost of living information.
            The content you want to display to users.</p></div>


    </div>
        
    <div class= "container2">
        <form>
    
            <div class="username"><h3>username</h3></div>
            <div class="placeholderUsername"><input type="text" placeholder="Enter your email"/></div>  
            <div class="password"><h3>password</h3></div>
            <div class="placeholderPassword"><input type="password" placeholder="Enter your password"/></div>
    
        <h4>
            <input type="submit" value="Login"/>  
            <input type="button" value="SignUp" onClick="create()"/>  
        </h4>
    
        </form>
    </div>
</body>

