<body>
    <svg viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
        <path fill="#D0E2FF" d="M33.1,-48.2C46.3,-36,62.7,-30.8,71.8,-19.4C80.9,-8,82.6,9.7,72.3,17.9C62,26.1,39.6,24.9,25.5,22.8C11.4,20.8,5.7,18,-4,23.5C-13.7,29,-27.4,42.8,-35.6,43C-43.8,43.1,-46.5,29.5,-54.1,15.4C-61.8,1.2,-74.4,-13.5,-73.6,-26.4C-72.8,-39.3,-58.7,-50.2,-44.2,-62C-29.7,-73.8,-14.8,-86.5,-2.4,-83.1C10,-79.8,19.9,-60.4,33.1,-48.2Z" transform="translate(20 20)" />
      </svg>



    <div class= "container1">
        <div class= "smartdata"><h2>smart data</h2></div>
        <div class= "mainParagraph"><p>Discover company reviews, find wages, and compare cost of living information.
            The content you want to display to users.</p></div>


    </div>
        
    <div class= "container2">
        
        <div class="usr">
            <div class="username">username</div>
            <div class="placeholderUsername"><input type="text" placeholder="Enter your email"/></div>
        </div>
        
        <div class="psswrd">
            <div class="password">password</div>
            <div class="placeholderPassword"><input type="password" placeholder="Enter your password"/></div>
        </div>
        
        <div class="logsign">
            <input type="submit" value="Login"/>  
            <input type="button" value="SignUp" onClick="create()"/>  
        </div>
    
        
    </div>

</body>


<div class="container3">
    
        <div class="exploreButton"><button>Explore Latest</button></div>
        <div class="contributeButton"><button>Contribute Data</button></div>
    
</div>


