
<head>
    <link rel="stylesheet" type="text/css" href="public/index.css" />
    </head>


<!DOCTYPE html>
<html>

<title>TATTLTELL - Learn & Tell</title>


 <header>

    <h1>
        tattltell
    </h1>
        <nav class="navigationMenu">
         <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="searchdb.html">Research</a></li>
         </ul>
        </nav>
 <br> 
 <br> 
 
    <h3>
        Look up earnings in your area
    </h3>
<br>
<br>

      <input type="searchBar" placeholder="Employer, Position, Area">
    <button>
        search
    </button>
    
 </header>


<body>
    <div class= "container1">
        <div class= "smartdata"><h2>smart data</h2></div>
        <div class= "mainParagraph"><p>Discover company reviews, find wages, and compare cost of living information.
            The content you want to display to users.</p></div>


    </div>
        
    <div class= "container2">
        <form>
    
            <div class="username"><h3>username</h3></div>
            <div class="placeholderUsername"><input type="text" placeholder="Enter your email"/></div>  
            <div class="password"><h3>password</h3></div>
            <div class="placeholderPassword"><input type="password" placeholder="Enter your password"/></div>
    
        <h4>
            <input type="submit" value="Login"/>  
            <input type="button" value="SignUp" onClick="create()"/>  
        </h4>
    
        </form>
    </div>
</body>




    
<footer> 

    <div class="widget">
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
        <div id="coinmarketcap-widget-marquee" coins="1,1027,8757,5994,3408,74,4030,5805" currency="USD" theme="dark" transparent="false" show-symbol-logo="true"></div>
    </div>

        <h4>
            Join the team. 
        </h4>

</footer>



</html>


