<body>
    <div class= "container1">
        <div class= "smartdata"><h2>smart data</h2></div>
        <div class= "mainParagraph"><p>Discover company reviews, find wages, and compare cost of living information.
            The content you want to display to users.</p></div>


    </div>
        
    <div class= "container2">
        
        <div class="usr">
            <div class="username">username</div>
            <div class="placeholderUsername"><input type="text" placeholder="Enter your email"/></div>
        </div>
        
        <div class="psswrd">
            <div class="password">password</div>
            <div class="placeholderPassword"><input type="password" placeholder="Enter your password"/></div>
        </div>
        
        <div class="logsign">
            <input type="submit" value="Login"/>  
            <input type="button" value="SignUp" onClick="create()"/>  
        </div>
    
        
    </div>

</body>


<div class="container3">
    
        <div class="exploreButton"><button>Explore Latest</button></div>
        <div class="contributeButton"><button>Contribute Data</button></div>
    
</div>


